<th-canvas (onRender)="this.onBeforeRender()">
  <th-scene>
    <th-ambientLight> </th-ambientLight>
    <!-- <th-box
      [position]="[5, 5, 5]"
      [material]="material"
      [rotation]="rotation"
    ></th-box>
   -->

    <th-object3D
      loadGLTF
      url="assets/DamagedHelmet.glb"
      [rotation]="this.rotation"
      [position]="[0, 1, 0]"
    >
      <th-object3D
        loadGLTF
        url="assets/BoomBox.glb"
        [scale]="[100, 100, 100]"
        [rotation]="this.rotation"
        [position]="[0, 0, -3]"
      ></th-object3D>
    </th-object3D>

    <th-gridHelper [args]="[10, 10]"></th-gridHelper>
    <th-pointLight [position]="[10, 10, 10]"></th-pointLight>

    <th-perspectiveCamera
      [args]="[45, 2, 0.1, 100]"
      [position]="[10, 10, 10]"
      [lookAt]="[0, 0, 0]"
    ></th-perspectiveCamera>
  </th-scene>
</th-canvas>
