<th-canvas [rendererParameters]="{ outputEncoding }"  (onRender)="this.onBeforeRender()" [thStats]="true" [shadow]="true" >
    <th-scene [background]="['#e0e0e0']" [fog]="['#e0e0e0', 20, 100] | fog" >

      <th-perspectiveCamera
      [args]="[45, 2, 0.25, 100]"
      [position]="[-5, 5, 10]"
      [lookAt]="[0, 2, 0]"
    ></th-perspectiveCamera>

      <th-hemisphereLight [args]="['#ffffff', '#444444' ]"
      [position]="[0,20,0]"
      > </th-hemisphereLight>


      <th-directionalLight
        [args]="['#ffffff']"
        [position]="[0,20,10]"
        [castShadow]="true"
      ></th-directionalLight>

      <th-mesh [rotation]="[-0.5 * Math.PI,0,0]" [receiveShadow]="true">
          <th-planeGeometry [args]="[2000,2000]"></th-planeGeometry>
          <th-meshPhongMaterial [args]="{ color: '#999999', depthWrite: false }"></th-meshPhongMaterial>
      </th-mesh>

      <th-gridHelper #gridHelper [args]="[200, 40, '#000000', '#000000']" [receiveShadow]="true"></th-gridHelper>

      <!-- robot -->
      <app-robot></app-robot>


    </th-scene>
  </th-canvas>
  