<mat-card color="accent">
  <mat-card-content>
    <div class="code-wrapper hljs">
      <mat-tab-group dynamicHeight color="primary" backgroundColor="primary">
        <mat-tab
          *ngFor="let codeUrl of codeUrls; let i = index"
          [label]="fileNames[i]"
        >
          <pre>
            <code [highlight]="$any(codeUrl | codeFromUrl | async ) " [lineNumbers]="lineNumbers"></code>
        </pre>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <a
      class="gist-url"
      (click)="this.editorService.toCodeSandbox($event)"
      href="#"
    >
      <mat-icon>crop_din</mat-icon>
      CodeSandbox
    </a>
    <a
      class="gist-url"
      (click)="this.editorService.toStackblitz($event)"
      href="#"
    >
      <mat-icon>bolt</mat-icon>
      Stackblitz
    </a>
  </mat-card-footer>
</mat-card>
